    * {
        /* margin: 0; */
        padding: 0;
        box-sizing: border-box;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        gap: 50px;
    }

    a {
        /* border: 2px solid olivedrab; */
        border-radius: 10px;
        text-decoration: none;
        font-size: larger;
        color: black;
    }

    a:hover {
        background-color: #b8a0a0;
        color: #ffffff;

    }